<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org">
<head>

<title>VeterinaryAssist - Application</title>

<style type="text/css">
.card .card-header {
	padding: .2rem 1rem;
}
</style>

</head>
<body>
	<main role="main" class="container mb-5" layout:fragment="content">
		<form id="newScreeningForm" action="#"
			th:action="@{/district/collectSingleApplicationCO}" method="post"
			data-ng-app="newScreeningApp"
			data-ng-controller="NewScreeningController"
			th:object="${farmerDetails}">
			<div class="row mt-3">
				<div class="col-12 text-right">
					<a th:href="@{/district/getPickupScheduledCullingOfficeList}">
						<button type="button" class="btn btn-sm btn-primary">
							<i class="fa fa-angle-left"></i>&nbsp;Go Back
						</button>
					</a>
				</div>

				<div class="col-12 text-center">
					<h6 class="font-weight-bold mt-1">APPLICATION</h6>
				</div>

				<div th:if="${fieldErrors!=null}"
					class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="alert alert-danger" role="alert">
						<ul class="mb-0">
							<li th:each="error : ${fieldErrors}" th:text="${error.value}"></li>
						</ul>
					</div>
				</div>
			</div>

			<div id="personalDetailsAccordion">
				<div class="card">
				<table class="table table-bordered vertical-middle mb-0">
				<tr class="table-primary" >
								<th colspan="4" id="personalDetailsHeading" class="bg-primary"><button type="button" class="btn btn-sm text-white"
							data-toggle="collapse" data-target="#personalDetailsCollapse"
							aria-expanded="true" aria-controls="personalDetailsCollapse">FARMER
							DETAILS</button></th>
				</tr>
				<tr  >
								<th width="27%" class="bg-light">Tracking ID (TID)</th>
								<td width="23%"><span th:text="${farmerDetails.farmer.trackingId}">--</span></td>
								<th width="25%" class="bg-light">Mobile</th>
								<td><span th:text="${farmerDetails.farmer.mobile}">--</span>
								
								<input
											type="hidden" class="form-control number-only" id="tid"
											th:field="*{farmer.trackingId}" maxlength="10" readonly="readonly">
											<input
											type="hidden" class="form-control" id="farmerId"
											th:field="*{farmer.id}"  >
											<input
											type="hidden" class="form-control " id="submitBy"
											th:field="*{farmer.submitBy}"  >
											<input
											type="hidden" class="form-control " id="verfiedBy"
											th:field="*{farmer.verifiedBy}"  >
											<input
											type="hidden" class="form-control " id="pickupScheduledBy"
											th:field="*{farmer.pickupScheduledBy}"  >
								</td>
								
				</tr>
				<tr >
								<th class="bg-light">Name</th>
								<td colspan="3"><span th:text="${farmerDetails.farmer.name}">--</span></td>
							</tr>
							
							<tr id="personalDetailsCollapse" class="collapse hide"
						aria-labelledby="personalDetailsHeading"
						data-parent="#personalDetailsAccordion">
								<th width="27%" class="bg-light">District</th>
								<td width="23%"><span th:if="${farmerDetails.farmer.nativeDistrict!=null}"
										th:text="${farmerDetails.farmer.nativeDistrict.districtName}"></span> <span
										th:unless="${farmerDetails.farmer.nativeDistrict!=null}">--</span></td>
								<th width="25%" class="bg-light">Epicenter</th>
								<td><span th:if="${farmerDetails.farmer.epiCenter!=null}" th:text="${farmerDetails.farmer.epiCenter.name}"></span>
								<span
										th:unless="${farmerDetails.farmer.epiCenter!=null}">--</span>
								</td>
							</tr>
							
							<tr id="personalDetailsCollapse" class="collapse hide"
						aria-labelledby="personalDetailsHeading"
						data-parent="#personalDetailsAccordion">
								<th width="27%" class="bg-light">CIRCLE</th>
								<td width="23%"><span th:text="${farmerDetails.farmer.nativeCircle}">--</span></td>
								<th width="25%" class="bg-light">Block</th>
								<td><span th:text="${farmerDetails.farmer.nativeBlock}">--</span></td>
							</tr>
							
							<tr id="personalDetailsCollapse" class="collapse hide"
						aria-labelledby="personalDetailsHeading"
						data-parent="#personalDetailsAccordion">
								<th colspan="2" class="bg-light">Do you belong to Urban or
									Rural Area ?</th>
								<td colspan="2"><span th:if='${farmerDetails.farmer.nativeArea=="U"}'>URBAN</span>
									<span th:if='${farmerDetails.farmer.nativeArea=="R"}'>RURAL</span></td>
							</tr>
							<tr th:if='${farmerDetails.farmer.nativeArea=="U"}' id="personalDetailsCollapse" class="collapse hide"
						aria-labelledby="personalDetailsHeading"
						data-parent="#personalDetailsAccordion">
								<th class="bg-light">City/ Town/ Local Body</th>
								<td><span th:text="${farmerDetails.farmer.nativeCity}"></span></td>
								<th class="bg-light">Ward</th>
								<td><span th:text="${farmerDetails.farmer.nativeWard}"></span></td>
							</tr>
							<tr th:if='${farmerDetails.farmer.nativeArea=="R"}' id="personalDetailsCollapse" class="collapse hide"
						aria-labelledby="personalDetailsHeading"
						data-parent="#personalDetailsAccordion">
								<th class="bg-light">Village</th>
								<td><span th:text="${farmerDetails.farmer.nativeVillage}"></span></td>
								<th class="bg-light">Gram Panchayat</th>
								<td><span th:text="${farmerDetails.farmer.nativePanchayat}"></span></td>
							</tr>
							
							<tr id="personalDetailsCollapse" class="collapse hide"
						aria-labelledby="personalDetailsHeading"
						data-parent="#personalDetailsAccordion">
								<th class="bg-light">Address</th>
								<td colspan="3">
								<span th:if="${farmerDetails.farmer.nativeAddress!=null}" th:text="${farmerDetails.farmer.nativeAddress}"></span>
								<span th:unless="${farmerDetails.farmer.nativeAddress!=null}">--</span>
								</td>
							</tr>
							<tr id="personalDetailsCollapse" class="collapse hide"
						aria-labelledby="personalDetailsHeading"
						data-parent="#personalDetailsAccordion">
								<th class="bg-light">PINCODE</th>
								<td colspan="3">
								<span th:if="${farmerDetails.farmer.nativePincode!=null}" th:text="${farmerDetails.farmer.nativePincode}"></span>
								<span th:unless="${farmerDetails.farmer.nativePincode!=null}">--</span>
								</td>
							</tr>
							<tr id="personalDetailsCollapse" class="collapse hide"
						aria-labelledby="personalDetailsHeading"
						data-parent="#personalDetailsAccordion">
								<th colspan="1" class="bg-light">Farmer Category</th>
								<td colspan="1"><span th:if='${farmerDetails.farmer.farmerCategory=="G"}'>General</span>
									<span th:if='${farmerDetails.farmer.farmerCategory=="SC"}'>SC</span>
									<span th:if='${farmerDetails.farmer.farmerCategory=="ST"}'>ST</span></td>
									
								<th colspan="1" class="bg-light">Farm Category</th>
								<td colspan="1"><span th:if='${farmerDetails.farmer.farmCategory=="B"}'>Backyard</span>
									<span th:if='${farmerDetails.farmer.farmCategory=="F"}'>Farm</span></td>
							</tr>
							<tr id="personalDetailsCollapse" class="collapse hide"
						aria-labelledby="personalDetailsHeading"
						data-parent="#personalDetailsAccordion">
								<th colspan="1" class="bg-light">LATITUDE</th>
								<td colspan="1"><span th:text="${farmerDetails.farmer.lat}"></span></td>
									
								<th colspan="1" class="bg-light">LONGITUDE</th>
								<td colspan="1"><span th:text="${farmerDetails.farmer.lng}"></span>
								<input type="hidden" class="form-control " readonly="readonly"
											id="lng" th:value="${farmerDetails.farmer.lng}" >
											<input type="hidden" class="form-control " readonly="readonly"
											id="lat" th:value="${farmerDetails.farmer.lat}">
								
								</td>
								
								
							</tr>
							
							<tr id="personalDetailsCollapse" class="collapse hide"
						aria-labelledby="personalDetailsHeading"
						data-parent="#personalDetailsAccordion">
								
								<td colspan="4"><iframe width="100%" height="450px" id="mapFrame"

  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBWtfhBmLujHs0ZtOiKRcvIdVCDR_UlvVY
    &center=26.244156,92.537842
  &zoom=8" allowfullscreen ></iframe></td>
							</tr>
							
				</table>

				</div>
			</div>



			<div id="bankDetailsAccordion" class="mt-4">
				<div class="card">
				<table class="table table-bordered vertical-middle mb-0">
				<tr class="table-primary ">
								<th colspan="4" id="goingToHeading" class="bg-primary"><button type="button" class="btn btn-sm text-white"
							data-toggle="collapse" data-target="#bankDetailsCollapse"
							aria-expanded="true" aria-controls="bankDetailsCollapse">Bank
							Account Details</button></th>
				</tr>

						<tr id="bankDetailsCollapse" class="collapse hide"
							aria-labelledby="goingToHeading"
							data-parent="#bankDetailsAccordion">
							<th class="bg-light">ACCOUNT NUMBER</th>
							<td colspan="3"><span
								th:text="${farmerDetails.farmer.accountNumber}">--</span></td>
						</tr>
							<tr id="bankDetailsCollapse" class="collapse hide"
							aria-labelledby="goingToHeading"
							data-parent="#bankDetailsAccordion">
							<th class="bg-light">IFSC CODE</th>
							<td colspan="3"><span
								th:text="${farmerDetails.farmer.ifscCode}">--</span></td>
						</tr>
					</table>
				</div>
			</div>
			
					<div id="animalDetailsAccordion" class="mt-4">
				<div class="card">
					<div class="card-header bg-primary" id="goingToHeading">
						<button type="button" class="btn btn-sm text-white"
							data-toggle="collapse" data-target="#animalDetailsCollapse"
							aria-expanded="true" aria-controls="animalDetailsCollapse">Animal
							Details</button>
					</div>

					<div id="animalDetailsCollapse" class="collapse show"
						aria-labelledby="goingToHeading"
						data-parent="#animalDetailsAccordion">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="numberOfAnimal" class="text-gray-800">NUMBER
											OF ANIMALS</label> <input type="text"
											class="form-control number-only" id="numberOfAnimal"
											th:field="*{farmer.noOfAnimal}" maxlength="6"
											required="required" readonly="readonly">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="amount" class="text-gray-800">TOTAL AMOUNT</label>
										<input type="text" class="form-control number-only"
											id="totalAmount" th:field="*{farmer.amount}"
											readonly="readonly">
									</div>
								</div>
							</div>
							<div class='row'>
								<div class='col-sm-12 col-lg-offset-2'>
									<hr>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-2">
									<div class="text-gray-800 pb-0">
										<b>REGISTRATION NO/UID</b>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="text-gray-800 pb-0">
										<b>Breed</b>
									</div>
								</div>
								<div class="col-sm-1">
									<div class="text-gray-800 pb-0">
										<b>WEIGHT(Kg)</b>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="text-gray-800 pb-0">
										<b>HEART GIRTH(in Meters)</b>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="text-gray-800 pb-0">
										<b>LENGTH(in Meter)</b>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="text-gray-800 pb-0">
										<b>AMOUNT</b>
									</div>
								</div>
								<div class="col-sm-1"></div>
							</div>
							<div class='row'>
								<div class='col-sm-12 col-lg-offset-2'>
									<hr>
								</div>
							</div>
							<div th:if="${not #lists.isEmpty(farmerDetails.animalDetails)}"
								th:each="detail, status : ${farmerDetails.animalDetails}"
								class="animalDetailRow">
								<div class="row">
									<div class="col-sm-2">
										<div class="form-group">
											<input type="text" class="form-control "
												th:id="regId__${status.index}__"
												th:field="*{animalDetails[__${status.index}__].regId}"
												maxlength="6">
										</div>
									</div>
									<div class="col-sm-2">
										<div class="form-group">
											 <select
											class="browser-default custom-select text-uppercase"
											th:id="breed__${status.index}__"
											title="Select Breed" id="nativeDistrict"
											th:field="*{animalDetails[__${status.index}__].breed}"
											>
											<option value="0">--Select Breed--</option>
											<option value="E">Exotic</option>
											<option value="C">Cross</option>
											<option value="L">Local</option>
											
										</select>
										</div>
									</div>
									<div class="col-sm-1">
										<div class="form-group" >
											<span th:if='${detail.weighStatus=="N"}'> <input
												type="text" class="form-control decimalnumber-only" style="padding: .1rem .2rem;"
												th:id="liveWeight__${status.index}__"
												th:field="*{animalDetails[__${status.index}__].liveWeight}"
												th:onchange=" javascript:calculateAmount([[__${status.index}__]]);"
												maxlength="6" disabled="disabled">
											</span> <span th:if='${detail.weighStatus!="N"}'> <input
												type="text" class="form-control decimalnumber-only" style="padding: .1rem .2rem;"
												th:id="liveWeight__${status.index}__"
												th:field="*{animalDetails[__${status.index}__].liveWeight}"
												th:onchange=" javascript:calculateAmount([[__${status.index}__]]);"
												maxlength="6">
											</span>
										</div>
									</div>
									<div class="col-sm-2">
										<div class="form-group">
											<span th:if='${detail.weighStatus=="Y"}'> <input
												type="text" class="form-control decimalnumber-only"
												th:id="heartGirth__${status.index}__"
												th:field="*{animalDetails[__${status.index}__].heartGirth}"
												th:onchange=" javascript:calculateAmount([[__${status.index}__]]);"
												maxlength="6" disabled="disabled">
											</span> <span th:if='${detail.weighStatus!="Y"}'> <input
												type="text" class="form-control decimalnumber-only"
												th:id="heartGirth__${status.index}__"
												th:field="*{animalDetails[__${status.index}__].heartGirth}"
												th:onchange=" javascript:calculateAmount([[__${status.index}__]]);"
												maxlength="6">
											</span>

										</div>
									</div>
									<div class="col-sm-2">
										<div class="form-group">
											<span th:if='${detail.weighStatus=="Y"}'> <input
												type="text" class="form-control decimalnumber-only"
												th:id="length__${status.index}__"
												th:field="*{animalDetails[__${status.index}__].length}"
												th:onchange=" javascript:calculateAmount([[__${status.index}__]]);"
												maxlength="6" disabled="disabled">
											</span> <span th:if='${detail.weighStatus!="Y"}'> <input
												type="text" class="form-control decimalnumber-only"
												th:id="length__${status.index}__"
												th:field="*{animalDetails[__${status.index}__].length}"
												th:onchange=" javascript:calculateAmount([[__${status.index}__]]);"
												maxlength="6">
											</span> <input type="hidden" class="form-control "
												th:id="weighStatus__${status.index}__"
												th:field="*{animalDetails[__${status.index}__].weighStatus}">
											<input type="hidden" class="form-control "
												th:id="deleteStatus__${status.index}__"
												th:field="*{animalDetails[__${status.index}__].deleteStatus}">
										</div>
									</div>
									<div class="col-sm-2">
										<div class="form-group">
											<input type="text" class="form-control "
												th:id="amount__${status.index}__"
												th:field="*{animalDetails[__${status.index}__].amount}"
												maxlength="6" th:onchange=" javascript:totalAliveAmount()"
												readonly="readonly">
										</div>
									</div>
									<div class=" col-sm-1 addNewRow"
										style="padding-right: 10px; display: inline-block;">
										<div class="form-group" style="display: inline-block;">

											<a href="javascript:void(0);"
												th:onclick="removeRow(this,'[[__${status.index}__]]','[[${detail.id}]]');"
												style="display: inline-block; text-align: right"> <font
												style="font-size: 25px; color: red; padding-left: 10px;"><i
													class="fa fa-window-close" aria-hidden="true"></i></font>
											</a> <span
												th:if="${status.count == #arrays.length(farmerDetails.animalDetails)}"><a
												th:id="addButton__${status.index}__"
												href="javascript:void(0);"
												onclick="javascript:addNewRow(this)"
												style="display: inline; text-align: right"> <font
													style="font-size: 25px; color: green;"><i
														class="fa fa-plus-square" aria-hidden="true"></i></font>
											</a> </span>


										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
					<div id="scheduleAccordion" class="mt-4">
				<div class="card">
				
				
					<table class="table table-bordered vertical-middle mb-0">
				<tr class="table-primary ">
								<th colspan="4" id="scheduleHeading" class="bg-primary">	<button type="button" class="btn btn-sm text-white" data-toggle="collapse"
							data-target="#scheduleCollapse" aria-expanded="true"
							aria-controls="scheduleCollapse">SCHEDULING DETAILS</button></th>
				</tr>

						<tr id="scheduleCollapse" class="collapse show"
							aria-labelledby="goingToHeading"
							data-parent="#bankDetailsAccordion">
							<th class="bg-light">EXPECTED PICKUP DATE</th>
							<td colspan="1"><b><span
								th:text="${#dates.format(farmerDetails.farmer.pickupScheduledOn, 'dd-MM-yyyy hh:mm a')}">--</span></b></td>
								<th class="bg-light">CULLING CENTER</th>
							<td colspan="1"><select class="browser-default custom-select"
											data-width="100%" data-live-search="true"
											title="Select Culling Center" id="cullingCenter"
											th:field="*{farmer.cullingCenter.id}">
											<option th:each="cullingcenter : ${cullingingcenters}" th:value="${cullingcenter.id}"
												th:text="${cullingcenter.name}"></option>
										</select></td>
						</tr>
					</table>
					

				</div>
			</div>
			
			
			<div id="cullingAccordion" class="mt-4">
				<div class="card">
					<div class="card-header bg-primary" id="cullingHeading">
						<button type="button" class="btn btn-sm text-white" data-toggle="collapse"
							data-target="#cullingCollapse" aria-expanded="true"
							aria-controls="cullingCollapse">Culling DETAILS</button>
					</div>

					<div id="cullingCollapse" class="collapse show"
						aria-labelledby="screeningHeading"
						data-parent="#scheduleAccordion">
						<div class="card-body">
							<div class="row">
							<div class="col-sm-6">
									<div class="form-group">
										<label for="cullingCenter" class="text-gray-800">Collected Date</label> 
										<input type="text" class="form-control datetimepicker p-2"
									id="collectedOn" th:field="*{farmer.collectedOnStr}"
									th:value="${#dates.format(farmerDetails.farmer.collectedOn, 'dd-MM-yyyy hh:mm a')}"
									required="required" readonly="readonly" >
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
					<div id="remarksAccordion" class="mt-4">
				<div class="card">
					<div class="card-header bg-primary" id="goingToHeading">
						<button type="button" class="btn btn-sm text-white"
							data-toggle="collapse" data-target="#remarksCollapse"
							aria-expanded="true" aria-controls="remarksCollapse">Remarks</button>
					</div>

					<div id="remarksCollapse" class="collapse show"
						aria-labelledby="goingToHeading"
						data-parent="#remarksAccordion">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="accountNumber" class="text-gray-800">VERIFICATION REMARKS
										</label>
										<p th:text="*{farmer.verificationRemark}"></p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="accountNumber" class="text-gray-800">APPROVAL REMARKS
										</label><p th:text="*{farmer.acceptRemark}"></p> 
									</div>
								</div>
							</div>
								<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="accountNumber" class="text-gray-800">SCHEDULE REMARKS 
										</label>
										<p th:text="*{farmer.scheduleRemark}"></p> 
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="accountNumber" class="text-gray-800">COLLECTION REMARKS 
										</label>
										<textarea  class="form-control "
											id="accept" th:field="*{farmer.collectedRemark}"
											maxlength="20" required="required"></textarea>
									</div>
								</div>
							</div>
							

						</div>
					</div>
				</div>
			</div>


			<div class="row mt-4">
				<div class="col-sm-12 text-center">
					<input type="submit" id="acceptEntry" class="btn btn-success"
						value="Collect" />
				</div>
			</div>
		</form>
	</main>

	<footer class="footer">
		<div class="container-fluid p-0">
			<div class="d-flex flex-row">
				<div
					class="col-12 h-100 text-white d-flex align-items-center justify-content-end">
					<a href="http://kran.co.in" target="_blank"
						rel="noopener noreferrer"> <img
						th:src="@{/images/logo_kran_white.png}"
						style="width: 50px; height: 11px;" />
					</a>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
<script th:inline="javascript">
$(document).ready(function () {
	$('.datetimepicker').datetimepicker({
		format: 'dd-mm-yyyy HH:ii P',
		pickerPosition : 'bottom-right',
		showMeridian: true,
        autoclose: true,
        todayBtn: true,
		endDate : new Date()
	});
});
	$(document).ready(function () {
		$(".number-only").on("keypress keyup blur", function (event) {
			$(this).val(
				$(this).val().replace(/[^\d].+/, "")
			);
			if (event.which < 48 || event.which > 57) {
				event.preventDefault();
			}
		});
		
		$(".decimalnumber-only").on("keypress keyup blur", function (event) {
			$(this).val(
				$(this).val().replace(/[^0-9\.]/g,'')
			);
			if ((event.which < 48 )|| (event.which > 57)) {
				if(event.which!=46 ){
					event.preventDefault();
				}
			}
		});
		totalAliveCount();
		totalAliveAmount();
	});

	$(document).on("click", "#acceptEntry", function () {
	});

	var application = angular.module('newScreeningApp', []);
	application.controller('NewScreeningController', function ($scope, $http) {

		$scope.nativeDistrict = $("#nativeDistrict").val() ;
		if (typeof $scope.nativeDistrict === 'undefined'
			|| $scope.nativeDistrict == null) {
			$scope.nativeDistrict = "0";
		}
		$scope.nativeDistrict = $scope.nativeDistrict + '';

		$scope.goingToArea = $("input[name='farmer.nativeArea']:checked").val();
		if (typeof $scope.goingToArea === 'undefined') {
			$scope.goingToArea = "R";
		}
		
	});

	$(document).ready(function () {
		$(".number-only").on("keypress keyup blur", function (event) {
			$(this).val(
				$(this).val().replace(/[^\d].+/, "")
			);
			if (event.which < 48 || event.which > 57) {
				event.preventDefault();
			}
		});

		$(document).on('keypress keyup blur', '.decimal', function (e) {
			var character = String.fromCharCode(e.keyCode)
			var newValue = this.value + character;
			if (isNaN(newValue) || parseFloat(newValue) * 10 % 1 > 0) {
				e.preventDefault();
				return false;
			}
		});
		frameload();
	});

</script>
<script type="text/javascript">
function addNewRow(element) {
 	var res = $(element).closest('.animalDetailRow').find('[id^="addButton"]').attr('id').split("Button", 2);
	var listCount=parseInt(res[1])+1;
	$('[id^="addButton"]').hide();
	var rowData =htCont;
	rowData = rowData.replace(/count/g, listCount);
	$(element).closest('.animalDetailRow').after($('<div class="animalDetailRow" ></div>').append(rowData));
	$('[id="'+$('.animalDetailRow:last').find('[id^="addButton"]').attr('id')+'"]').show();
	totalAliveCount();
	}
function removeRow(element,count,id) {
	var listLength = $('[class="animalDetailRow"]').length;
	if(listLength>1){
	$("#deleteStatus"+count).val("Y");
	$(element).closest(".animalDetailRow").remove();
	$('[id^="addButton"]').hide();
	$('[id="'+$('.animalDetailRow:last').find('[id^="addButton"]').attr('id')+'"]').show();
	}else{
		alert("Atleast One Animal Details Should be there for Claim!!")
	}
	totalAliveCount();
	totalAliveAmount();
}
function totalAliveCount(){
	var listLength = $('[class="animalDetailRow"]').length;
	$('#numberOfAnimal').val(listLength);
}
function totalAliveAmount(){
	var totalAmount=0;
	$("[id^='amount'").each(function () {
		totalAmount=parseFloat(totalAmount)+parseFloat(this.value);
	});
	$('#totalAmount').val(totalAmount);
}

function calculateAmount(id){
// 	$('#amount'+id).val("0");
	var liveWeight=$('#liveWeight'+id).val();
	var heartGirth=$('#heartGirth'+id).val();
	var length=$('#length'+id).val();
	if((liveWeight=="0"||liveWeight=="")&&(heartGirth==0||heartGirth=="")&&(length==0||length=="")){
		$('#heartGirth'+id).prop( "disabled", false );
		$('#length'+id).prop( "disabled", false );
		$('#liveWeight'+id).prop( "disabled", false );
		$('#weighStatus'+id).val("N");
		$('#liveWeight'+id).attr("required", "");
		$('#heartGirth'+id).attr("required", "");
		$('#length'+id).attr("required", "");
	}
	else if((liveWeight!="0"&&liveWeight!=""))	{
	$('#heartGirth'+id).prop( "disabled", true );
	$('#length'+id).prop( "disabled", true );
	$('#liveWeight'+id).prop( "disabled", false );
	$('#weighStatus'+id).val("Y");
	$('#liveWeight'+id).attr("required", "required");
	$('#heartGirth'+id).attr("required", "");
	$('#length'+id).attr("required", "");
	}else if((heartGirth!=0&&heartGirth!="")||(length!=0&&length!="")){
	$('#heartGirth'+id).prop( "disabled", false );
	$('#length'+id).prop( "disabled", false );
	$('#liveWeight'+id).prop( "disabled", true );
	$('#weighStatus'+id).val("N");
	$('#liveWeight'+id).attr("required","required");
	$('#heartGirth'+id).attr("required", "required");
	$('#length'+id).attr("required", "");
	}
	var weighStatus=$('#weighStatus'+id).val();
	$.ajax({
		url : '../../district/getAmount?'+'liveWeight='+liveWeight+
				'&weighStatus='+weighStatus+'&heartGirth='+heartGirth
				+'&length='+length+'',
		beforeSend : function() {
		},
		success : function(data) {
			var result=parseFloat(data);
			if(result==0){
				alert("Wrong Value Detected")
				if(weighStatus=="Y"){
					$('#liveWeight'+id).val("");
				}
				else{
					$('#heartGirth'+id).val("");
					$('#length'+id).val("");
				}
			}else{
			$('#amount'+id).val(data);
			}
			totalAliveAmount()
		}
	});
		
}
</script>
<script>
/* Don't Delete tis is required for dynamic form */
var htCont='<div class="row">'
	+'<div class="col-sm-2"><div class="form-group">'
	+'<input type="text" class="form-control " id="regIdcount" name="animalDetails[count].regId" maxlength="6"></div></div>'
	+'<div class="col-sm-2">'
	+'<div class="form-group">'
	+'<select class="browser-default custom-select text-uppercase" id="breedcount" title="Select Breed" name="animalDetails[count].breed">'
	+'<option value="0">--Select Breed--</option><option value="E">Exotic</option><option value="C">Cross</option><option value="L">Local</option></select>'
	+'</div></div>'
	+'<div class="col-sm-1">'
	+'<div class="form-group"><input type="text" class="form-control decimalnumber-only"	id="liveWeightcount" name="animalDetails[count].liveWeight"	maxlength="6" onchange="calculateAmount(count)"></div></div>'
	+'<div class="col-sm-2">'
	+'<div class="form-group"><input type="text" class="form-control decimalnumber-only"'
	+' id="heartGirthcount" name="animalDetails[count].heartGirth"	maxlength="6" onchange="calculateAmount(count)"></div></div>'
	+'<div class="col-sm-2">	<div class="form-group">'
	+'<input type="text" class="form-control decimalnumber-only" id="lengthcount" name="animalDetails[count].length" 	maxlength="6" onchange="calculateAmount(count)"> '
	+'<input	type="hidden" class="form-control " id="weighStatuscount"'
	+' name="animalDetails[count].weighStatus"><input type="hidden" class="form-control "	id="deleteStatuscount"	name="animalDetails[count].deleteStatus">	</div></div>'
	+'<div class="col-sm-2">	<div class="form-group">'
	+'<input type="text" class="form-control "	id="amountcount" name="animalDetails[count].amount"	maxlength="6" value="0"	onchange="javascript:totalAliveAmount()" readonly="readonly">'
	+'</div></div>'
	+'<div class=" col-sm-1 addNewRow"	style="padding-right: 10px; display: inline-block;">	<div class="form-group" style="display: inline-block;">'
	+'<a href="javascript:void(0);"	onclick="removeRow(this,'+"'count'"+",'null'"+');"	style="display: inline-block; text-align: right"> <font	style="font-size: 25px; color: red; padding-left: 10px;">'
	+'<i class="fa fa-window-close" aria-hidden="true"></i></font></a>'
	+'<a id="addButtoncount" href="javascript:void(0);"	onclick="javascript:addNewRow(this)" style="display: inline; text-align: right"> <font style="font-size: 25px; color: green;">'
	+'<i class="fa fa-plus-square" aria-hidden="true"></i></font></a>'
	+'</div></div></div>';

</script>
<script>

function frameload(){
	if($('#lat').val()==""||$('#lng').val()==""){
	var str="https://maps.google.com/maps?q=26.244156,92.537842&z=8&output=embed"
	 $("#mapFrame").attr("src", str);
	}else{
		var str="https://maps.google.com/maps?q="+$('#lat').val()+","+$('#lng').val()+"&z=15&output=embed"
		 $("#mapFrame").attr("src", str);
	}
}
</script>
