<div>
	<form th:action="@{/setup/saveDistrictUserSetup}" method="post">

		<input type="hidden" th:field="*{districtUser.id}" id="ids">
			<div class="row">
				<div class="col-xl-6 col-md-6 col-lg-6 col-sm-12">
					<div id="form">
						<div class="form-group">
							<label for="exampleInputEmail1">Name</label><input
								th:field="*{districtUser.name}" type="text"
								class="form-control" id="destructionCategory" aria-describedby="emailHelp"
								placeholder="Enter Name">
						</div>
					</div>
				</div>
				
				<div class="col-xl-6 col-md-6 col-lg-6 col-sm-12">
					<div class="form-group">
						<label for="userName">User Name</label> <input
							th:field="*{districtUser.userName}" type="text" 
							class="form-control number-only" id="from"
							aria-describedby="userName" placeholder="User Name">
					</div>
				</div>
				
				<div class="col-xl-6 col-md-6 col-lg-6 col-sm-12">
					<div id="form">
						<div class="form-group">
							<label for="exampleInputEmail1">User Type</label><select
								th:field="*{districtUser.userType}" type="text"
								class="form-control" id="destructionCategory" aria-describedby="emailHelp"
								placeholder="Enter Category of Destruction">
								<option value="0">--Select--</option>
								<option value="DV">DVO</option>
								<option value="DVE">DVO-DEO</option>
								<option value="DC">DC</option>
								<option value="DCE">DC-DEO</option>
								</select>
						</div>
					</div>
				</div>
				<div class="col-xl-6 col-md-6 col-lg-6 col-sm-12">
					<div id="form">
						<div class="form-group">
										<label for="nativeDistrict" class="text-gray-800">
											DISTRICT</label> <select
											class="browser-default custom-select text-uppercase"
											data-width="100%" data-live-search="true"
											title="Select Native District" id="district"
											th:field="*{districtUser.district.id}"
											>
											<option value="0">--Select--</option>
											<option th:each="district : ${districtList}"
												th:value="${district.id}" th:text="${district.districtName}"></option>
										</select>
									</div>
					</div>
				</div>
				<div class="col-xl-6 col-md-6 col-lg-6 col-sm-12">
					<div class="form-group">			
							<label for="exampleInputMpbile">Mobile</label> <input
							th:field="*{districtUser.mobile}" type="text"
							class="form-control number-only" id="to"
							aria-describedby="mobileHelp" placeholder="Mobile Number">
					</div>
				</div>
				<div class="col-xl-6 col-md-6 col-lg-6 col-sm-12">
					<div class="form-group">
						<label for="exampleInputEmail1">E-Mail</label> <input
							th:field="*{districtUser.email}" type="text"
							class="form-control decimal-number-only" id="rate"
							aria-describedby="email" placeholder="Email">
							
						
					</div>
				</div>
			</div>
			
			<div class="row mt-4 mb-2">
				<div class="col-sm-12 text-center"
					th:if='${districtUser.id!=null}'>
					<button style="text-align: center;" type="submit"
						class="btn btn-sm btn-primary" onclick="return validateForm()">Update</button>
				</div>
				<div class="col-sm-12 text-center"
					th:if='${districtUser.id==null}'>
					<button style="text-align: center;" type="submit"
						class="btn btn-sm btn-primary" onclick="return validateForm()">Save</button>
				</div>
			</div>
	</form>
</div>

<script th:inline="javascript">
	function isNumber(event) {
		var numeric = new RegExp("^[0-9\b]+$");
		var keyCode = String.fromCharCode(!event.charCode ? event.which	: event.charCode);
		if (!numeric.test(keyCode)) {
			event.preventDefault();
			return false;
		}
	}
	$(document).ready(function () {
		$(".number-only").on("keypress keyup blur", function (event) {
			$(this).val(
				$(this).val().replace(/[^\d].+/, "")
			);
			if (event.which < 48 || event.which > 57) {
				event.preventDefault();
			}
		});
	});
	function validateForm() {
			/* var email = $('[name="email"]').val();
			if (email == "") {
				alert("Please Provide Email Id")
				return false;
			} */

		return true;
	}
</script>
